@use "../abstract/colors" as *;

.mobileNavButton{
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    top: 1rem;
    right: 5%;
    width: min-content;
    height: min-content;
    background-color: $lightGray;
    z-index: 10;
}

.mobile{
    display: flex;
    border-radius: 3px;
}

.toggle{
    background-color: transparent;
}